session.*
smex-items
transient
undo
url
recentf
projects
projectile-bookmarks.eld
projectile.cache
ido.last
elpa
backups
chatgpt
auto-save-list
.cache
.chatgpt-shell.el
.dap-breakpoints
.lsp-session-v1
bookmarks
init.el~
